<div class="clearfix container row-fluid">
  <div id="issue-content">
    
    <div class="left-content pull-left">
      <% flash.each do |key, value| %>
        <div class="alert <%= key %>">
          <%= value %><a class="close" data-dismiss="alert" href="#">&times;</a>
        </div>
      <% end %>

      <div class="section">
        <h4>GitHub Settings</h4>
        <%= form_tag({action: :authorize}, method: :get) do %>

          <div class="form-control">
            <label>Client ID</label>
            <%= text_field_tag :client_id, @github[:client_id], { :class => "span7", :required => true } %>
          </div>

          <div class="form-control">
            <label>Client Secret</label>
            <%= password_field_tag :client_secret, @github[:client_secret], { :class => "span7",:required => true } %>
          </div>
          <div class="form-control">
            <label>GitHub username</label>
            <%= text_field_tag :user, @github[:user], { :class => "span7", :placeholder => "Example: halbcoder",:required => true } %>
          </div>

          <div class="form-control">
            <label>Repository ID</label>
            <%= text_field_tag :repo, @github[:repo], { :class => "span7", :placeholder => "Example: tc-app",:required => true } %>
          </div>

          <div class="form-control"><br>
            <%= submit_tag 'Update', :class => 'btn' %>
          </div>
        <% end %>
      </div>

      <div class="section">
        <h4>GitLab Settings</h4>
        <%= form_tag({action: :update}) do %>

          <div class="form-control">
            <label>Endpoint</label>
            <%= text_field_tag :endpoint, @gitlab[:endpoint], { :class => "span7", :required => true, :disabled => true } %>
          </div>

          <div class="form-control">
            <label>Private token</label>
            <%= password_field_tag :private_token, @gitlab[:private_token], { :class => "span7", :required => true } %>
          </div>

          <div class="form-control">
            <label>Project ID</label>
            <%= text_field_tag :project_id, @gitlab[:project_id], { :class => "span7",:required => true, :placeholder => "Your GitLab Project ID" } %>
          </div>

          <div class="form-control"><br>
            <%= submit_tag 'Update', :class => 'btn' %>
          </div>
        </div>

        <div class="notif">
          <h4>Send import/export notifications to</h4>
        
          <div class="form-control"><br>
            <%= email_field_tag :notification_email, @notification_email, { :class => "span7", :required => true, :placeholder => "Example: halbcoder@gmail.com" } %>
          </div>

          <div class="form-control">
            <%= submit_tag 'Update', :class => 'btn' %>
          </div>
        <% end %>
        </div>
      
      
    </div>  
    <div class="sidebar pull-right">
      <div>

      </div>
    </div>  
  </div>
</div>