<div class="clearfix container row-fluid">
  <div id="issue-content">
    
    <div class="left-content pull-left">
      <% flash.each do |key, value| %>
        <div class="alert <%= key %>">
          <%= value %><a class="close" data-dismiss="alert" href="#">&times;</a>
        </div>
      <% end %>
      
      <% if @account_configuration.notification_email.blank? %>
        <div class="alert">
          Please set your notification email in the <%= link_to 'Settings', settings_path %> page. Or else you will not receive email notifcations when import or export completes.
        </div>
      <% end %>

      <h4>Uploaded Issues</h4>
      <% if @issues.count > 0 %>
        <table class="table table-striped table-hover" id="issue_list_table">
          <thead>
            <tr>
              <th width="20%">CMC Issue ID</th>
              <th width="20%">GitLab Issue ID</th>
              <th width="20%">GitHub Issue ID</th>
              <th width="20%">Uploaded at</th>
            </tr>
          </thead>
            <% @issues.each do |issue| %>
              <tr>
                <td> <%= issue.cmc_id %></td> 
                <td> <%= issue.gitlab_id || "-" %></td>
                <td> <%= issue.github_id || "-" %></td>
                <td> <%= issue.created_at.strftime('%b %d, %Y') %></td>
              </tr> 
            <% end %>
        </table>
      <% else %>
        <p>There are no issues imported to GitLab or GitHub before.</p>
      <% end %>
        <%= will_paginate @issues %> 
    </div>
    
    <div class="sidebar pull-right" rel="sticky">
      <div id="import-section" class="sidebar-section">
        <h4 class="logo">Import</h4>
          <%= form_tag({action: :import}, multipart: true) do %>
            <% if @issues.count > 0 %>
              <div class="alert span11">
                <%= @issues.count %> issues imported so far.
              </div>
            <% end %>

            <div class="form-control">
              <label>Check the boxes to which the issues are to be imported.</label>
              <label class="pull-left"><%= check_box_tag 'github', 1, true %> GitHub</label>
              <label class=""><%= check_box_tag 'gitlab', 1, true %> GitLab</label>
            </div>

            <div class="form-control">
              <label>Choose a csv file</label>
              <%= file_field_tag 'CSV', accept: 'text/csv', :required => true %><br>
            </div>

            <div class="form-control">
              <%= submit_tag 'Import', :class => 'btn' %>
            </div>  
          <% end %>
      </div>

      <div id="export-section" class="sidebar-section">
        <h4 class="logo">Export</h4>
          
          <%= form_tag({action: :export}, method: 'get') do %>
            <% if @exported_data_count > 0 %>
              <div class="alert span11">
                <%= @exported_data_count %> issues were last exported on <%= formated_date(@last_downloaded) %>. You can <%= link_to "view", exported_issue_data_path %> or
                <%= link_to "download", download_path %> the exported data.
              </div>
            <% end %>
            <div class="form-control">
              <label>Generate a CSV of all available issues with latest updates and send it via email.</label>
              <div class="form-control">
                <%= submit_tag 'Export', :class => 'btn' %>
              </div>  
            </div>
          <% end %>          
      </div>
    </div>
  </div>

</div>