<div class="clearfix row-fluid container">
  <div id="issue-content" class="export_list_table">
    <div class="left-content">
      <% flash.each do |key, value| %>
        <div class="alert <%= key %>">
          <%= value %><a class="close" data-dismiss="alert" href="#">&times;</a>
        </div>
      <% end %>
      <h4>Exported Issues</h4>
      <% if @exported_data.count > 0 %>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th width="">CMC Issue ID</th>
              <th width="">GitLab Issue ID</th>
              <th width="">GitLab Title</th>
              <th width="">GitLab Status</th>
              <th width="">GitLab Labels</th>
              <th width="">GitLab Milestones</th>
              <th width="">GitLab last updated</th>
              <th width="">GitHub Issue ID</th>
              <th width="">GitHub Title</th>
              <th width="">GitHub Status</th>
              <th width="">GitHub Labels</th>
              <th width="">GitHub Milestones</th>
              <th width="">GitHub last updated</th>
            </tr>
          </thead>
            <% @exported_data.each do |issue| %>
              <tr>
                <td> <%= issue.cmc_id %></td> 
                <td> <%= issue.gitlab_id %></td>
                <td> <%= issue.gitlab_title %></td>
                <td> <%= issue.gitlab_status %></td>
                <td> <%= issue.gitlab_labels.to_a.to_sentence %></td>
                <td> <%= issue.gitlab_milestones %></td>
                <td> <%= issue.gitlab_last_updated %></td>
                <td> <%= issue.github_id %></td>
                <td> <%= issue.github_title %></td>
                <td> <%= issue.github_status %></td>
                <td> <%= issue.github_labels.to_a.to_sentence %></td>
                <td> <%= issue.github_milestones %></td>
                <td> <%= issue.github_last_updated %></td>
              </tr> 
            <% end %>
        </table>
      <% else %>
        <p>No issues exported so far.</p>
      <% end %>
      <div class = "pull-right">
          <%= will_paginate @exported_data %> 
        </div>
    </div>
  </div>
</div>